<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site provides weather information of a region or a country. You can search by region/country name or with zip code. <br><br> All the data displayed are retrieved from mapbox.com and darksky.net.</p>
    </div>
    
    {{>footer}}
</body>

</html>